#landing-hero-section{
    position: relative;
    width: 100%;
    padding: 100px 0;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
}
#landing-hero-section h1{
    max-width: 640px;
    text-align: center;
    margin: auto;
    font-size: 3.125rem;
}
#landing-hero-section h2{
    margin: 1rem auto;
    text-align: center;
    max-width: 640px;
    font-size: 1.625rem;
    font-weight: 400;
}
@media (max-width: 450px){
    #landing-hero-section h1, #landing-hero-section h2{
        margin-left: 0px;
        margin-right: auto;
    }
    #landing-hero-section{
        display: block !important;
    }
    #landing-hero-section .email-form-lockup{
        margin: 0px !important;
    }
}
#landing-hero-section form{
    flex-flow: column-reverse;
    max-width: 950px;
    padding-top: .85rem;
}
#landing-hero-section form h3{
    font-weight: 400;
}
#landing-hero-section .emailField{
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #1f1f1f;
    min-width: 450px;
    height: 60px !important;
    box-sizing: border-box;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0;
}

#landing-hero-section .email-form-lockup{
    text-align: center;
    flex-direction: row;
    margin: auto;
}
#landing-hero-section .submit{
    font-size: 1.625rem;
    min-height: 60px;
    border: 1px solid #e50914;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
#right-icon{
    width: 1.425rem;
    color: white;
    margin-bottom: -2px;
}
@media (max-width: 770px){
    .email-form-lockup{
        display: block;
    }
    .submit{
        margin-top: 15px;
    }
}