
/* dropdown styling header notification end */
.righticons .user-icon{
    width: 30px;
    margin-right: 4px;
    cursor: pointer;
}
.righticons .profile-arrow{
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
    margin-left: 0px;
    display: inline-block;
    vertical-align: middle;
}

/* dropdown styling header user account */
.profile-arrow{
    margin-top: -15px;
}
.dropdown{
    cursor: pointer;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px 0px;
    right: 2%;
    position: absolute;
    background-color: rgb(41, 41, 41);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content::after{
    position: absolute;
    content: "";
    top: -20px;
    right: 0px;
    width: 100%;
    height: 22px;
    background-color: #ffffff00;
}
.dropdown-content::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 23px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #fff transparent transparent transparent;
    margin-left: 0px;
    display: inline-block;
    transform: rotate(180deg);
}
.dropdown-content .line{
    height: 1px;
    border: none;
    opacity: 0.4;
    margin: 15px 0px;
    background-color: white;
    width: 100%;
}
.dropdown-content a {
    float: none;
    color: white;
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}
.righticons .dropdown:hover .dropdown-content{
    display: block;
}
.profile-links{
    font-family: Arial, Helvetica, sans-serif;
}
.profile-links span{
    font-size: 13px;
    font-weight: 300;
    padding-left: 5px;
}
.profile-links .last{
    margin-top: 10px;
}

@media (max-width: 760px){
    .righticons{
        display: none;
    }
}
